@model DOAN.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin khách thuê</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách thuê
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCus)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>

        <dt>
            Tình trạng thuê
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangThue)
        </dd>

        <dt>
            Tên phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phong.TenPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CCCD }) |
    @Html.ActionLink("Quay về", "Index")
</p>
