@model DOAN.Models.DatLichHen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/ChiTiet.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DatLichHen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayHen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayHen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioHen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioHen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phong.TenPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
