@model IEnumerable<DOAN.Models.DatLichHen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/ChiTiet.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayHen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioHen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayHen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioHen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phong.TenPhong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
