@model DOAN.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết hóa đơn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tên phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phong.TenPhong)
        </dd>

        <dt>
            Tên khách thuê
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.NameCus)
        </dd>

        <dt>
            Ngày lập hóa đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapHD)
        </dd>

        <dt>
            Tiền điện
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.TienDien) VNĐ
        </dd>

        <dt>
            Tiền nước
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.TienNuoc) VNĐ
        </dd>

        <dt>
            Tiền wifi
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.TienWifi) VNĐ
        </dd>

        <dt>
            Tổng tiền
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.UnitPrice) VNĐ
        </dd>

        <dt>
            Tình trạng hóa đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa hóa đơn", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay về", "Index")
</p>
